/* http://melchoyce.github.io/dashicons/ */

#adminmenu #menu-posts-flights div.wp-menu-image:before {
	content: "\f319";
}

#adminmenu #menu-posts-destinations div.wp-menu-image:before {
	content: "\f231";
}

#adminmenu #menu-posts-casinos div.wp-menu-image:before {
	content: "\f230";
}

#adminmenu #menu-posts-testimonials div.wp-menu-image:before {
	content: "\f125";
}