/*
Theme Name:     Casinos TGC
Description:    Child theme for the 2012 theme
Template:       twentytwelve                             
Version:        0.2.0
Author: Kevin McCarthy
Author URI: http://kaymic.com/
*/

@import url("../twentytwelve/style.css");

/**/

h1, h2, h3, h4, h5, h6 {
	color: #fff;
}

.entry-title { margin-bottom: 1em; }

a, .entry-content a, .entry-content a:visited, .widget-area .widget a, .widget-area .widget a:visited { color: #edb355; text-decoration: none; }
.entry-header a:hover, .comments-link a, .entry-meta a { text-decoration: underline; }
a:hover, .entry-content a:hover, .widget-area .widget a:hover, .comments-link a:hover, .entry-meta a:hover { color: #edb355; text-decoration: underline; }

#logo {
	height: 111px;
	/*background: url('images/new-logo.png') center center no-repeat;*/
	background: url('images/new-logo-white.png') center center no-repeat;
	background-size:300px 111px;
	/* background: url('images/logo.png') center center no-repeat; */
	margin: 25px 0;
}
#logo a {
	width: 100%;
	height: 100%;
	text-indent: -99999px;
}

#masthead {
	padding: 0;
	margin: 0 auto;
	max-width: 960px;

	border: solid 1px #f0efda;
	border-bottom: none;
}

#site-navigation {
	margin: 0;
	border-top: solid 1px #f0efda;
	border-bottom: none;
	background-color: #f0efda;
}
#site-navigation > div { padding: 0 30px; }
@media screen and (min-width: 600px) {
	.main-navigation li ul li a { background-color: #f0efda; }
}

.rev_slider_wrapper { z-index: 0; }

#page {
	padding: 0 0;
	margin: 0 auto;
	border: solid 1px #f0efda;
	border-bottom: none;
}

@media screen and (min-width: 600px) {

	#primary {
		padding: 0 2%;
		margin-top: 68px;
	}
	#primary.home { margin-top: 24px; }

	#secondary {
		width: 30%;
		margin-top: 0;
		border-left: solid 1px #f0efda;
		border-bottom: solid 1px #f0efda;
	}

	#secondary .widget-title { text-align: center; }

	#secondary aside > * {
		padding: 0 3%;
	}

	.main-navigation li a, .main-navigation li ul li a {
		line-height: 2;
	}

	#breadcrumbs {
		margin-bottom: -44px;
	}

	body.template-front-page .site-content, body.full-width .site-content {	width: 96%;	}
	

}

#home-heading {
	font-size: 1.7em;
	margin-top: 24px;
	padding: 15px 0;
	background-color: #f0efda;
	text-align: center;
	font-style: italic;
	color: #251f16 !important;
}
#home-heading small { color: #66563c !important; font-weight: normal; }

#primary.home header.entry-header { display: none; }

#secondary aside h3, #breadcrumbs {
	padding: 10px 3%;
	line-height: 2;
	background-color: #3A362E;
	border-top: solid 1px #f0efda;
	border-bottom: solid 1px #f0efda;
}

#breadcrumbs { color: #929e9e !important; }
#breadcrumbs a { color: #b9c5c5 !important; }

#home-secondary {
	border: none;
	padding: 0 0;
}

.home-widgets {
	width: 29.2%;
	padding: 0 2%;
	float: left;
	text-align: center;

	border-top: 1px solid #362E21;
}

.home-widgets.second {
	border-left: 1px solid #362E21;
	border-right: 1px solid #362E21;
}

.home-widgets .widget-title {
	font-size: 1.3em;
	margin: 10px 0;
	line-height: 1;
	text-decoration: underline;
	font-style: italic;
	font-weight: normal;
	text-align: center;
}

@media screen and (max-width: 600px) {
	#primary, #secondary {
		padding: 0 3%;
	}

	.home-widgets {
		width: 96%;
		padding: 0 2%;
		float: none;
		border: none;
		text-align: left;
	}

}

#page-header img {
	width: 100%;
}

#footer {
	background-color: #000000;
	padding: 50px 0;
	clear: #9b835c;
	font-size: 9pt;
	color: #9b835c;
}

#footer-wrap {
	margin: 0 auto;
	padding: 0 20px;
	text-align: center;
	max-width: 960px;
}

#footer-logos img {
	width: 80px;
	height: auto;
	margin-bottom: 20px;
}

/**/

.widget-title { color: #fff; }

#flight-widget select { width: 100%; }

@media screen and (min-width: 600px) {
	.home-widgets.second  aside:nth-child(2) {
		background-color: #1d1811;
		margin: 0 -7% !important;
		padding: 4%;
		border-left: 1px solid #362E21;
		border-right: 1px solid #362E21;
	}
}

/* Custom Casino Menus */
.menu-casinos-container ul {
	text-align: center;
	list-style: none;
	width: 100%;

	display: inline-block !important;
}

.menu-casinos-container ul li {
	list-style: none;
	padding: 10px 15px;
	display: inline-block;
	zoom: 1;
	*display: inline;

	text-transform: uppercase;
	font-size: 11px;
	font-style: italic;
	font-weight: bold;
	font-family: 'Droid Sans', Arial, sans-serif;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}

.menu-casinos-container a:hover { text-decoration: none; }

#top-menu {
	background: #8f2319; /* Old browsers */
	background: -moz-linear-gradient(top,  #8f2319 25%, #5b2012 75%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,#8f2319), color-stop(75%,#5b2012)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8f2319 25%,#5b2012 75%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8f2319 25%,#5b2012 75%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8f2319 25%,#5b2012 75%); /* IE10+ */
	background: linear-gradient(to bottom,  #8f2319 25%,#5b2012 75%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f2319', endColorstr='#5b2012',GradientType=0 ); /* IE6-9 */
}
#top-menu a { color: #ac4035; }

#bottom-menu {
	background: #9b9b9b; /* Old browsers */
	background: -moz-linear-gradient(top,  #9b9b9b 0%, #b7b7b7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9b9b9b), color-stop(100%,#b7b7b7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #9b9b9b 0%,#b7b7b7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #9b9b9b 0%,#b7b7b7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #9b9b9b 0%,#b7b7b7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #9b9b9b 0%,#b7b7b7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b9b9b', endColorstr='#b7b7b7',GradientType=0 ); /* IE6-9 */
}
#bottom-menu a { color: #000000; }

/*  */

.site {
	background-color: #251f16;
	color: #9b835c;
}

#ports-of-call div {
	display:list-item;
	font-size: .8em;
	margin: 0 0 0 1.3em;
}

.eo-events-shortcode li {
	list-style: none;
	margin: 0;
	padding-top: 10px;
	border-top: 1px solid #362e22;
	clear: both;
}

.eo-events-shortcode figure {
	width: 30%;
	margin-bottom: 20px;
	float: left;
	text-align: center;
}

.eo-events-shortcode figcaption {
	width: 65%;
	margin-bottom: 20px;
	float: right;
}

.eo-events-shortcode h3 {
	margin: 0;
	font-size: 1em;
}

.eo-events-shortcode header {
	color: #929e9e;
}

.event-learnmore {
	display: block;
	text-align: right;
	margin-top: 5px;
	font-size: .8em;
}

.event-learnmore a {
	padding: 5px;

	background-image: -moz-linear-gradient(top, #edb355, #9b835c);
	background-image: -ms-linear-gradient(top, #edb355, #9b835c);
	background-image: -webkit-linear-gradient(top, #edb355, #9b835c);
	background-image: -o-linear-gradient(top, #edb355, #9b835c);
	background-image: linear-gradient(top, #edb355, #9b835c);
}
.event-learnmore a { color: #ffffff !important; }
.event-learnmore a:hover { color: #ffffff; }

@media screen and (max-width: 600px) {

	.eo-events-shortcode figure {
		width: 100%;
		margin: 0;
		float: none;
	}

	.eo-events-shortcode figcaption {
		width: 100%;
		margin-bottom: 20px;
		float: none;
	}

	.desktop { display: none; }

}

/* preferred-games form */
#preferred-games > span {
	display: block;
}

/* Video */
.responsive-video {
	max-width: 660px;
	margin: 0 auto 10px;
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; height: 0; overflow: hidden;
}

.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#constant-contact-signup input[type=text] {
	padding: 2px;
	width: 98%;
	margin-bottom: 5px;
}
